* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	margin: 0;
	padding: 0;
}

.top {
	background: black;
	color: white;
	width: 100vw;
	text-align: center;
}

.top p {
	margin: 0;
	padding: 5px 5px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	letter-spacing: 2px;
}

.header .row {
	padding: 15px 15px;
	margin: 0;
	width: 100vw;
}

.header .nav {
	justify-content: center;
}

.header .nav-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000000;
}

.header .nav-link:hover {
	color: orange;
	font-weight: bold;
}

.basket {
	padding-top: 5px;
}
.basket a {
	text-decoration: none;
}

.basket i {
	font-size: 18px;
	line-height: 150%;
	padding-left: 5px;
	letter-spacing: 1em;
	text-transform: uppercase;
	color: #000000;
}

.basket i:hover {
	color: orange;
	font-weight: bold;
}

.welcome {
	text-align: center;
	min-width: 100vw;
	min-height: 100vh;
	background-image: url(../img/welcome.png);
	background-size: cover;
	background-position: center center;
}

.welcome h1 {
	padding-top: 3%;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 115%;
	text-align: center;
	color: #000000;
}

.welcome p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 125%;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
}

.welcome-buttons {
	min-height: 50px;
	display: inline-block;
	padding: 5px;
}

.welcome-buttons button{
	border: none;
	min-height: 10px;
	min-width: 200px;
	background: #FF4A32;
	border-radius: 35px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
}

.welcome-buttons button:hover {
	border: 2px solid green;
	color: green;
}
.brands {
	display: flex;
	background-color: black;
	width: 100vw;
	justify-content: space-evenly;
	padding: 20px 20px;
}

.electrek, .tech, .mechanics, .wired {
	display: inline-block;
	min-height: 50px;
	background-color: black;
}

.looking h2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 112%;
	text-align: center;
	color: #000000;
}

.looking p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 125%;
	text-align: center;
	color: #000000;
	padding-top: 2%;
}

.lightning {
	padding-top: 40%;
}

.looking .container {
	width: 100vw;
	padding-top: 4%;
	margin-right: 0;
	max-width: 100vw;
}

.looking-text {
	padding-left: 27%;
	padding-right: 27%;
	padding-bottom: 3%;
	text-align: center;
}

.looking .row {
	display: flex;
	justify-content: space-evenly;
	width: 100vw;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
}

.looking-a {
	display: block;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 120%;
	text-align: center;
	color: #FFFFFF;
	padding-top: 2%;
}

.instock {
	display: block;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
	padding-top: 4%;
}

.looking-a:hover, .instock:hover {
	color: orange;
	font-weight: bold;
}

.boards {
	display: block;
	background-image: url(../img/boards.png);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: content-box;
	height: 480px;
	width: 480px;
	text-align: center;
}

.revs {
	display: block;
	background-image: url(../img/revs.png);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 480px;
	width: 480px;
	text-align: center;
}

.scateboards .container {
	width: 100vw;
	max-width: 1496px;
	margin: 0;
	background-image: url(../img/skateboards.png);
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	margin-top: 1%;
	text-align: center;
}

.scateboards p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 125%;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
	padding-top: 1%;
	padding-left: 33%;
	padding-right: 33%;
}

.scateboards .first-p {
	padding-top: 4%;
}

.scateboards h3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 112%;
	text-align: center;
	color: #000000;
}

.scateboards button {
	width: 200px;
	background: #FF4A32;
	border-radius: 35px;
	border: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
}

.scateboards button:hover {
	border: 2px solid green;
	color: green;
}

.boosted {
	display: flex;
	justify-content: space-around;
	padding-top: 2%;
}

.boosted .container {
	max-width: 1199px;
}
.scooter {
	display: inline-block;
	background-image: url(../img/scooter.png);
	background-size: cover;
	background-position: center center;
	width: 350px;
	height: 350px;
	margin-left: 1%;
	margin-right: 1%;
}

.helm {
	display: inline-block;
	background-image: url(../img/helm.png);
	background-size: cover;
	background-position: center center;
	width: 350px;
	height: 350px;
	margin-left: 1%;
	margin-right: 1%;
}

.boosted-text {
	display: inline-block;
	width: 320px;
	height: 320px;
	margin-left: 2%;
	margin-right: 1%;
	align-self: baseline;
}

.boosted button {
	width: 100px;
	background: #FF4A32;
	border-radius: 35px;
	border: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
}

.boosted2 .container {
	width: 100vw;
	padding-top: 0;
	margin-right: 0;
	max-width: 100vw;
}

.boosted2-text {
	padding-left: 27%;
	padding-right: 27%;
	padding-bottom: 3%;
	text-align: center;
}

.boosted2 .row {
	display: flex;
	justify-content: center;
	width: 100vw;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.stealth {
	display: block;
	background-image: url(../img/stealth.png);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: content-box;
	height: 480px;
	width: 480px;
	text-align: center;
	padding: 0;
}

.plus {
	display: block;
	background-image: url(../img/plus.png);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 480px;
	width: 480px;
	text-align: center;
	padding: 0;
}

.mini {
	display: block;
	background-image: url(../img/mini.png);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 480px;
	width: 480px;
	text-align: center;
	padding: 0;
}

.boosted2-a {
	display: block;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 120%;
	text-align: center;
	color: #FFFFFF;
	padding-top: 2%;
}

.boosted2 .instock {
	display: block;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
	padding-top: 4%;
}

.boosted2-a:hover, .boosted2 .instock:hover {
	color: orange;
	font-weight: bold;
}

.video-rev {
	display: block;
	background-image: url(../img/videorev.png);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 300px;
	width: 540px;
	text-align: center;
	margin-top: 8%;
}

.video-boards {
	display: block;
	background-image: url(../img/videoboards.png);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 300px;
	width: 540px;
	text-align: center;
	margin-top: 8%;
}

.video-a {
	display: inline-block;
}

.video-div {
	text-align: center;
}
/*.video .container {
	width: 100vw;
	padding-top: 0;
	margin-right: 0;
	max-width: 100vw;
}

.video .row {
	display: flex;
	justify-content: center;
	width: 100vw;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.video-rev {
	display: block;
	background-image: url(../img/videorev.png);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 300px;
	width: 540px;
	text-align: center;
	padding: 0;
}

.video-boards {
	display: block;
	background-image: url(../img/videoboards.png);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 300px;
	width: 540px;
	text-align: center;
	padding: 0;
}*/

@media all and (max-width:1440px) {
	.stealth {
		height: 400px;
		width: 400px;
}
	.plus {
		height: 400px;
		width: 400px;
}

	.mini {
		height: 400px;
		width: 400px;
}
}